.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: #ddd;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 200px;
  background-color: #3a2a2a;
}

.middle {
  flex: 1;
  display: flex;
}

.right {
  width: 100px;
  background-color: #3a2a2a;
}
